VITE_API_URL=http://localhost:5001
VITE_ADMIN_APP_URL=http://localhost:5174
VITE_HOTEL_NAME=Ardent Hotel
VITE_HOTEL_ADDRESS=Ardent Hotel, Nairobi CBD, Kenya
VITE_HOTEL_LAT=-1.286389
VITE_HOTEL_LNG=36.817223
VITE_HOTEL_ARRIVAL_RADIUS_METERS=120
